.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #335353; /* Fondo semitransparente para el efecto glass */
    padding: 10px 20px; /* Espaciado interno */
    width: 100%; /* Ocupa todo el ancho */
    box-sizing: border-box; /* Incluye el padding dentro del ancho */
    position: fixed; /* Hace que el navbar sea fijo */
    top: 0; /* Fija el navbar en la parte superior */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    backdrop-filter: blur(10px); /* Efecto de desenfoque para efecto glass */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidad para Safari */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera para separar visualmente */
}


.navbar.scrolled {
    background-color: rgba(51, 83, 83, 0.5); /* Más transparente al hacer scroll */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.navbar-center img {
    width: 100px;
    height: auto;
}

.navbar-right img {
    width: 70px; /* Aumenta el ancho */
    height: 70px; /* Aumenta la altura */
    border-radius: 50%; /* Mantiene la imagen circular */
    cursor: pointer; /* Muestra el cursor como puntero al pasar sobre la imagen */
    border: 2px solid #ffd700; /* Borde decorativo amarillo */
    object-fit: cover; /* Asegura que la imagen no se deforme */
}


.navbar-left img {
    width: 30px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
}

.navbar-left a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.navbar-left a:hover {
    color: #d1d1d1;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ajusta el box-sizing para todos los elementos */
    padding-top: 60px; /* Asegura que el contenido no quede detrás del navbar fijo */
}
