/* Contenedor principal */
.crear-albergue-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* Estilo del formulario */
  .crear-albergue-form {
    background-color: #4b8e8d; /* Fondo translúcido */
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    padding: 30px;
    width: 400px;
    max-width: 90%;
    text-align: center;
  }
  
  /* Título del formulario */
  .crear-albergue-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff; /* Texto oscuro */
  }
  
  /* Grupo de formulario */
  .crear-albergue-form .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  /* Etiquetas */
  .crear-albergue-form .form-group label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    color: #ffffff; /* Texto gris */
  }
  
  /* Campos de entrada */
  .crear-albergue-form .form-group input,
  .crear-albergue-form .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #ffffff;
    background-color: #4b8e8dd5;
    outline: none;
    transition: border-color 0.3s ease-in-out;
  }
  
  /* Campos al enfocar */
  .crear-albergue-form .form-group input:focus,
  .crear-albergue-form .form-group textarea:focus {
    color: #ffffff;
    border-color: #ff9800; /* Color del borde al enfocar */
  }
  
  /* Botón de crear o actualizar */
  .crear-albergue-form .crear-albergue-btn {
    background-color: #ff9800; /* Color naranja */
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Botón al pasar el mouse */
  .crear-albergue-form .crear-albergue-btn:hover {
    background-color: red; /* Más oscuro al pasar el mouse */
  }
  
  .custom-file-upload {
    display: inline-block;
    background-color: #ff9800; /* Color naranja */
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease-in-out;
    margin-top: 8px; /* Espaciado superior */
  }
  
  .custom-file-upload:hover {
    background-color: #e68a00; /* Más oscuro al pasar el mouse */
  }
  