/* Contenedor general */
.donaciones-container {
  padding-top: 80px; /* Espacio para evitar que el navbar lo cubra */
  padding-bottom: 80px; /* Espacio para evitar que el footer lo cubra */
  min-height: calc(100vh - 160px); /* Asegura que ocupa toda la altura menos navbar/footer */
  background-color: #f0f0f0; /* Fondo general */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Encabezado */
.donaciones-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #54736b;
  padding: 10px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
}

.donaciones-header h2 {
  color: white;
  margin: 0;
}

.donaciones-main-image {
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

.donaciones-subtitle {
  color: #54736b;
  margin-top: 20px;
  font-size: 1.2em;
}

/* Productos */
.donaciones-products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

/* Tarjetas de productos */
.donaciones-product-card {
  background-color: #54736b;
  border-radius: 8px;
  padding: 10px;
  width: 300px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.donaciones-product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.donaciones-product-image {
  width: 250px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.donaciones-product-card:hover .donaciones-product-image {
  transform: scale(1.05);
}

/* Nombre del producto */
.product-name {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1em;
}

/* Botón de donación */
.donar-button {
  background-color: #fca311;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.donar-button:hover {
  background-color: #e39400;
}

/* Responsividad */
@media (max-width: 768px) {
  .donaciones-products {
    gap: 15px;
  }

  .donaciones-product-card {
    width: 100%;
    max-width: 300px;
  }

  .donaciones-header {
    width: 100%;
    max-width: 300px;
  }
}
