/* Footer */
.unique-footer {
    background-color: #335353; /* Fondo igual al navbar */
    color: white; /* Texto blanco */
    text-align: center;
    padding: 20px 0; /* Más espacio alrededor */
    width: 100%; /* Ocupa todo el ancho */
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    margin-top: auto; /* Siempre al final */
    font-family: 'Arial', sans-serif; /* Fuente consistente con el resto */
}

.unique-footer-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 20px; /* Espacio entre los enlaces */
}

.unique-footer-item {
    margin: 0;
}

.unique-footer-link {
    text-decoration: none;
    color: white; /* Texto blanco */
    font-size: 16px;
    font-weight: bold;
}

.unique-footer-link:hover {
    color: #d1d1d1; /* Cambia a gris claro al pasar el mouse */
}
