/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    background-image: url('/src/assets/background_pf.webp'); /* Fondo general */
    background-size: cover; /* Asegura que el fondo cubra todo */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fondo extendido en páginas largas */
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima igual a la ventana */
}

/* Contenido principal */
.main-content {
    flex: 1; /* Ocupa el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.grid-item {
    text-align: center;
}

.grid-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.grid-button {
    background-color: #fca311;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.grid-button:hover {
    background-color: #e39400;
}

/* Contenedor principal */
.app-container {
    display: flex;
    flex-direction: column; /* Orientación vertical */
    min-height: 100vh; /* Altura mínima igual a la ventana */
}

/* Contenido principal */
.main-content {
    flex: 1; /* Ocupa todo el espacio restante */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido si es necesario */
    align-items: center;
    padding: 20px;
}
