/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    background-image: url('/src/assets/background_pf.webp'); /* Fondo general */
    background-size: cover; /* Asegura que el fondo cubra todo */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fondo extendido en páginas largas */
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima igual a la ventana */
}

/* Estilos para el Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #335353;
    padding: 10px 20px;
}

.navbar-left, .navbar-center, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left img.menu-icon {
    width: 30px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
}

.navbar-left a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.navbar-left a:hover {
    color: #d1d1d1;
}

.navbar-center img {
    width: 100px;
    height: auto;
}

.navbar-right img.profile-icon {
    width: 30px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}

/* Contenido principal */
.main-content {
    flex: 1; /* Ocupa el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.grid-item {
    text-align: center;
}

.grid-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.grid-button {
    background-color: #fca311;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.grid-button:hover {
    background-color: #e39400;
}

/* Estilos para el Footer */
.footer {
    background-color: #335353;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-shrink: 0; /* Evita que se comprima */
}

.footer ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer li {
    margin: 0 15px;
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.footer a:hover {
    color: #d1d1d1;
}
