.mascotas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5; /* Color de fondo */
  }
  
  .mascotas-title {
    font-size: 2rem;
    color: #54736b;
    margin-bottom: 20px;
  }
  
  .mascotas-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .mascota-card {
    background-color: #54736b;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .mascota-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .mascota-image {
    width: 100%; 
    height: 250px;
    object-fit: cover; 
    border-radius: 8px;
    margin-bottom: 10px;
}

  .mascota-info {
    text-align: center;
  }
  
  .mascota-name {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .mascota-button {
    background-color: #fca311;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .mascota-button:hover {
    background-color: #e39400;
  }
  