.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #335353; /* Color de fondo del navbar */
    padding: 10px 20px; /* Espaciado interno */
    width: 100%; /* Ocupa todo el ancho */
    box-sizing: border-box; /* Incluye el padding dentro del ancho */
    position: relative; /* No será fijo */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.navbar-center img {
    width: 100px;
    height: auto;
}

.navbar-right img {
    width: 30px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}

.navbar-left img {
    width: 30px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
}

.navbar-left a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.navbar-left a:hover {
    color: #d1d1d1;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ajusta el box-sizing para todos los elementos */
}
