/* WelcomeStyle.css */

/* Contenedor principal */
.welcome-container {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    min-height: 70vh;  /* Ocupa al menos toda la ventana */
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centra el contenido verticalmente */
}

/* Encabezado de bienvenida */
.welcome-header h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.welcome-header p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.view-pets-button {
    background-color: #ffb84d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

.view-pets-button:hover {
    background-color: #f32d09fd;
}

/* Contenedor de la cuadrícula */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
}

/* Estilo para cada ítem de la cuadrícula */
.grid-item {
    background-color: #4B8E8D;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.grid-image {
    width: 300px;
    height: 400px;
    margin-bottom: 10px;
}

.grid-button {
    background-color: #ffb84d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.grid-button:hover {
    background-color: #f32d09fd;
}

/* Footer */
footer {
    background-color: #335353;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;  /* Empuja el footer al fondo de la página */
    width: 100%;
}
