.donation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 1000;
  }
  /* DonationModal.css */

.modal-header h2 {
    color: #fff; /* Asegura que el texto sea blanco */
  }
  
  .modal-content {
    width: 90%;
    max-width: 500px;
    background-color: #fff; /* Fondo blanco */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    overflow: hidden; /* Evita que el contenido se salga */
    animation: fadeIn 0.3s ease-in-out; /* Animación al aparecer */
  }
  
  .modal-header {
    background-color: #335353; /* Color azul oscuro */
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .product-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    border: 2px solid #eee;
  }
  
  .product-details {
    font-size: 1rem;
    color: #333;
  }
  
  .product-details h3 {
    color: #003366;
    font-size: 1.2rem;
  }
  
  .modal-footer {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
  }
  
  .modal-footer .btn {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modal-footer .btn-back {
    background-color: #ccc;
    color: #333;
  }
  
  .modal-footer .btn-back:hover {
    background-color: #bbb;
  }
  
  .modal-footer .btn-donate {
    background-color: #ffa500;
    color: #fff;
  }
  
  .modal-footer .btn-donate:hover {
    background-color: #ff8c00;
  }
  
  .modal-footer .btn-pay {
    background-color: #28a745;
    color: #fff;
  }
  
  .modal-footer .btn-pay:hover {
    background-color: #218838;
  }
  
  /* Animación de entrada */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  